<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>任务历史</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i> </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <input type="hidden" name="cid" value="{{.cid}}">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日期" name="start_date" id="start" value="{{.startDate}}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日期" name="end_date" id="end" value="{{.endDate}}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>任务ID</th>
                            <th>进程ID</th>
                            <th>执行开始</th>
                            <th>执行结束</th>
                            <th>执行类型</th>
                            <th>执行目标</th>
                            <th>执行状态</th>
                            <th>执行结果</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $key, $log := .logs }}
                            <tr>
                                <td>{{$log.ID}}</td>
                                <td>{{$log.CID}}</td>
                                <td>{{$log.PID}}</td>
                                <td>{{$log.ExecStartTime | formatDatetime}}</td>
                                <td>{{$log.ExecEndTime | formatDatetime}}</td>
                                <td>{{$log.ExecType}}</td>
                                <td>{{$log.ExecTarget}}</td>
                                <td style="text-align: center">
                                    {{if eq $log.ExecStatus 1}}运行完成{{else}}正在运行{{end}}
                                    {{if eq $log.IsCrontab 0}}<br>（手动触发）{{end}}
                                </td>
                                <td title="{{$log.ExecResult}}" style="overflow: hidden;text-overflow:ellipsis;width: 100px;max-width: 200px;white-space: nowrap;">{{$log.ExecResult}}</td>
                                <td class="td-manage">
                                    {{if eq $log.ExecStatus 0 }}
                                        <a title="停止运行" onclick="stop(this)" href="javascript:;">
                                            <i class="layui-icon">&#xe617;</i> </a>
                                    {{end}}
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    // 停止任务
    function stop(obj) {
        var id = $(obj).parent().parent().children().eq(0).text();
        layer.confirm('确认要停止吗？', {shadeClose: true}, function (index) {
            $.post('stop', {id: id}, function (res) {
                layer.msg(res.msg);
                if (res.code === 0) {
                    setTimeout(function () {
                        location.reload();
                    }, 2000)
                }
            });
            layer.close(index);
        });
    }
</script>
</html>